.grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;

}

body {
    margin: 0;
}

*{
    font-family: 'Courier New', monospace;
}

.background-image-about-page {
    background-image: url("images/nate_whiteboarding.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    display:  flex;
    justify-content: flex-end;
    align-items: center;
  }

.background-image-work-page {
    background-image: url("images/arduino.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background-image-contact-page {
    background-image: url("images/prototype_demo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.NavigationBar {
    position: absolute;
    text-align: center;
    left: 20%;
    right: 20%;
    align-items: right;
}

.NavigationBar a {
    color: #585d5e;
    text-align: center;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.NavigationBar a:hover {
    color: black;
    transition: 0.5s;
    font-size: xx-large;
}

.NavigationBar a.active {
    color: black;
}


.bio {
    text-align: left;
    width:35%;
    margin-right: 90px;
    font-size: large;
}

.project-space {
    grid-area: 1/3/12/10;
    background-color: rgba(255, 255, 255, 0.6);
}


.contact-section {
    grid-area: 1/4/12/7;
    background-color: rgba(255, 255, 255, 0.7);
}

.profile-pic-section {
    grid-area: 4/7/12/8;
    background-color: rgba(255, 255, 255, 0.6);

    
}

label {
    cursor: default;
}

.survey-question {
    font-size: 30px;
}

#github-id{
    width: 50px;
}

#linkedin-id {
    width: 50px;
}