.grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;

}

body {
    margin: 0;
}

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.background-image-about-page {
    background-image: url("images/nate_whiteboarding.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    display:  flex;
    justify-content: flex-end;
    align-items: center;
  }

.background-image-work-page {
    background-image: url("images/nate_success.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* height: 100vh;
    width: 100%;
    margin: 0;
    display:  flex;
    justify-content: flex-end;
    align-items: center; */
}

.NavigationBar {
    position: absolute;
    text-align: center;
    left: 20%;
    right: 20%;
    /* transform: translate(-50%, -50%); */
    /* justify-content: flex-end; */
    align-items: right;
}

.NavigationBar a {
    color: gray;
    text-align: center;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.NavigationBar a:hover {
    color: black;
}

.NavigationBar a.active {
    color: black;
}


.bio {
    text-align: left;
    width:35%;
    margin-right: 100px;
    font-size: large;
}

.project-space {
    grid-area: 1/3/12/10;
    background-color: rgba(255, 255, 255, 0.6);
}

.project-survey {
    grid-area: 5/8/12/12;
    
}

.leftPortion {
    grid : 6/8
}

label {
    cursor: default;
}

.survey-question {
    font-size: 30px;
}

#github-id{
    width: 50px;
    
}